.menu-navbar {
  color: #a5aa52;
  /* background: rgb(237, 240, 218);
  background: radial-gradient(
    circle,
    rgba(237, 240, 218, 1) 3%,
    rgba(165, 170, 82, 1) 100%
  ); */
  background-color: none;
  z-index: 1;
  display: flex;
  align-items: center;
  padding: 10px;
  margin: 0;
  /* position: fixed; */
}

.navbar-input {
  margin-left: 48px;
}
.input {
  width: 100vh;
  padding: 8px 0;
  padding-left: 8px;
  border-radius: 8px;
  border: none;
  text-align: center;
}
