.form-heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: white;
  padding: 50px;
}
.form-container {
  padding: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 16px;
  background-color: white;
  margin: 10px 100px;
}
.form-details {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
