.form-heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  color: white;
  padding: 50px;
}
.form {
  padding: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 16px;
  background-color: white;
  margin: 10px 100px;
}
.form-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.MuiButton-.contained.submit {
  background-color: rgb(132, 106, 157);
  padding: 0 20px;
}
.form-img {
  background-image: url("../assets/formImg.jpg");
  height: 100px;
  width: 100px;
}
