.navbar {
  color: white;
}
.intro-page {
  height: 900px;
  padding: 10px;
  display: flex;
  text-align: center;
  background-image: url("../assets/bg.jpg");
  background-size: cover;
  background-position: center;
  color: rgb(250, 255, 255);
}
.intro {
  margin: 200px 0;
  width: 500px;
}
.contact-page {
  background-color: rgb(163, 149, 94);
  padding: 50px;
}
.inspiration-page {
  padding: 50px;
}
