.contact-page {
  background: rgb(165, 170, 82);
  background: radial-gradient(
    circle,
    rgba(165, 170, 82, 1) 42%,
    rgba(237, 240, 218, 1) 96%,
    rgba(237, 240, 218, 1) 100%
  );
  padding: 50px;
}
.inspiration-page {
  padding: 50px;
  background-color: #edf0da;
}
.intro-page {
  background-color: #edf0da;
  padding: 100px 50px 40px;
}
