.card {
  height: 100%;
  flex-direction: column;
  display: flex;
  cursor: pointer;
}
.inspiration-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.card-content {
  flex: 1;
  color: white;
  background-color: rgb(138, 104, 170);
  border-radius: 24px;
}
