.menu {
  background-color: white;
  box-shadow: 1px 1px 20px 0px #a5aa52;
  border-radius: 16px;
  margin: 20px;
}
.menu-card {
  display: flex;
}
.menu-details {
  color: #a5aa52;
  border-radius: 20px;
  padding: 20px;
  width: 300px;
}
.menuCard-logo {
  text-align: center;
}
.bg-img {
  width: 400px;
  height: 450px;
  padding: 10px;
}
.menuCard-heading {
  margin: 20px;
  text-align: center;
  color: white;
}
.menuCard-btn {
  margin: 20px 0;
}
