.menu-navbar {
  width: 800px;
  color: #a5aa52;
  background-color: #edf0da;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  margin-bottom: 24px;
}

.navbar-input {
  margin-left: 80px;
  width: 100%;
}
.input {
  width: 100%;
  padding: 8px 0;
  padding-left: 8px;
  border-radius: 8px;
  border: none;
  text-align: center;
}
