.signUp-box {
  padding: 40px;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  color: black;
}
.signUp-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.signUp-heading {
  text-align: center;
  color: #a5aa52;
}
.signUp-details {
  width: 500px;
}
.signUp-inputs {
  margin: 20px 0;
}
.signUp-footer {
  text-align: center;
}
.signUp-img {
  width: 500px;
}
