.intro {
  background-image: url("../../../assets/milk.jpg");
  background-size: cover;
  background-position: center;
  color: white;
  padding: 40px 0;
  border-radius: 8px;
  height: 500px;
  text-align: center;
}
.intro-details {
  margin-right: 500px;
  margin-top: 200px;
}
.intro-heading {
  margin: 30px;
}
.intro-stepper {
  border: 2px solid #a5aa52;
  border-radius: 2px;
  width: 60%;
  margin-left: 170px;
}
