.navbar {
  width: 100%;
  color: white;
  background: rgb(237, 240, 218);
  background: radial-gradient(
    circle,
    rgba(237, 240, 218, 1) 3%,
    rgba(165, 170, 82, 1) 100%
  );
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  backdrop-filter: blur(30px);
  padding: 10px;
  margin: 0;
  position: fixed;
}
.nav-btns {
  padding: 0 16px;
}
.navbar-heading {
  margin-left: 20px;
}
